:root {
  --color-primary-50: 230 242 255;
  --color-primary-100: 204 229 255;
  --color-primary-200: 153 204 255;
  --color-primary-300: 102 178 255;
  --color-primary-500: 0 102 204;
  --color-primary-600: 0 82 163;
  --color-primary-700: 0 61 122;
  --color-primary-900: 0 20 41;
  --color-secondary-50: 249 250 251;
  --color-secondary-100: 243 244 246;
  --color-secondary-200: 229 231 235;
  --color-secondary-300: 209 213 219;
  --color-secondary-500: 107 114 128;
  --color-secondary-600: 75 85 99;
  --color-secondary-700: 55 65 81;
  --color-secondary-900: 17 24 39;
  --color-success-50: 236 253 245;
  --color-success-100: 209 250 229;
  --color-success-200: 167 243 208;
  --color-success-300: 110 231 183;
  --color-success-500: 16 185 129;
  --color-success-600: 5 150 105;
  --color-success-700: 4 120 87;
  --color-success-900: 6 78 59;
  --color-warning-50: 255 251 235;
  --color-warning-100: 254 243 199;
  --color-warning-200: 253 230 138;
  --color-warning-300: 252 211 77;
  --color-warning-500: 245 158 11;
  --color-warning-600: 217 119 6;
  --color-warning-700: 180 83 9;
  --color-warning-900: 120 53 15;
  --color-danger-50: 254 242 242;
  --color-danger-100: 254 226 226;
  --color-danger-200: 254 202 202;
  --color-danger-300: 252 165 165;
  --color-danger-500: 239 68 68;
  --color-danger-600: 220 38 38;
  --color-danger-700: 185 28 28;
  --color-danger-900: 127 29 29;
  --color-info-50: 239 246 255;
  --color-info-100: 219 234 254;
  --color-info-200: 191 219 254;
  --color-info-300: 147 197 253;
  --color-info-500: 59 130 246;
  --color-info-600: 37 99 235;
  --color-info-700: 29 78 216;
  --color-info-900: 30 58 138;
}

html[data-mts-theme='dark'] {
  --color-primary-50: 0 20 41;
  --color-primary-100: 0 61 122;
  --color-primary-200: 0 82 163;
  --color-primary-300: 0 102 204;
  --color-primary-500: 102 178 255;
  --color-primary-600: 153 204 255;
  --color-primary-700: 204 229 255;
  --color-primary-900: 230 242 255;
  --color-secondary-50: 17 24 39;
  --color-secondary-100: 55 65 81;
  --color-secondary-200: 75 85 99;
  --color-secondary-300: 107 114 128;
  --color-secondary-500: 209 213 219;
  --color-secondary-600: 229 231 235;
  --color-secondary-700: 243 244 246;
  --color-secondary-900: 249 250 251;
  --color-success-50: 6 78 59;
  --color-success-100: 4 120 87;
  --color-success-200: 5 150 105;
  --color-success-300: 16 185 129;
  --color-success-500: 110 231 183;
  --color-success-600: 167 243 208;
  --color-success-700: 209 250 229;
  --color-success-900: 236 253 245;
  --color-warning-50: 120 53 15;
  --color-warning-100: 180 83 9;
  --color-warning-200: 217 119 6;
  --color-warning-300: 245 158 11;
  --color-warning-500: 252 211 77;
  --color-warning-600: 253 230 138;
  --color-warning-700: 254 243 199;
  --color-warning-900: 255 251 235;
  --color-danger-50: 127 29 29;
  --color-danger-100: 185 28 28;
  --color-danger-200: 220 38 38;
  --color-danger-300: 239 68 68;
  --color-danger-500: 252 165 165;
  --color-danger-600: 254 202 202;
  --color-danger-700: 254 226 226;
  --color-danger-900: 254 242 242;
  --color-info-50: 12 35 64;
  --color-info-100: 30 64 175;
  --color-info-200: 37 99 235;
  --color-info-300: 59 130 246;
  --color-info-500: 147 197 253;
  --color-info-600: 191 219 254;
  --color-info-700: 219 234 254;
  --color-info-900: 239 246 255;
}

@media (prefers-color-scheme: dark) {
  html:not([data-mts-theme]) {
    --color-primary-50: 0 20 41;
    --color-primary-100: 0 61 122;
    --color-primary-200: 0 82 163;
    --color-primary-300: 0 102 204;
    --color-primary-500: 102 178 255;
    --color-primary-600: 153 204 255;
    --color-primary-700: 204 229 255;
    --color-primary-900: 230 242 255;
    --color-secondary-50: 17 24 39;
    --color-secondary-100: 55 65 81;
    --color-secondary-200: 75 85 99;
    --color-secondary-300: 107 114 128;
    --color-secondary-500: 209 213 219;
    --color-secondary-600: 229 231 235;
    --color-secondary-700: 243 244 246;
    --color-secondary-900: 249 250 251;
    --color-success-50: 6 78 59;
    --color-success-100: 4 120 87;
    --color-success-200: 5 150 105;
    --color-success-300: 16 185 129;
    --color-success-500: 110 231 183;
    --color-success-600: 167 243 208;
    --color-success-700: 209 250 229;
    --color-success-900: 236 253 245;
    --color-warning-50: 120 53 15;
    --color-warning-100: 180 83 9;
    --color-warning-200: 217 119 6;
    --color-warning-300: 245 158 11;
    --color-warning-500: 252 211 77;
    --color-warning-600: 253 230 138;
    --color-warning-700: 254 243 199;
    --color-warning-900: 255 251 235;
    --color-danger-50: 127 29 29;
    --color-danger-100: 185 28 28;
    --color-danger-200: 220 38 38;
    --color-danger-300: 239 68 68;
    --color-danger-500: 252 165 165;
    --color-danger-600: 254 202 202;
    --color-danger-700: 254 226 226;
    --color-danger-900: 254 242 242;
    --color-info-50: 12 35 64;
    --color-info-100: 30 64 175;
    --color-info-200: 37 99 235;
    --color-info-300: 59 130 246;
    --color-info-500: 147 197 253;
    --color-info-600: 191 219 254;
    --color-info-700: 219 234 254;
    --color-info-900: 239 246 255;
  }
}
